---
---

<section>
  <div
    class="px-5 mx-auto h-[30vh] container flex flex-col md:flex-row justify-between items-center text-gray-900 font-light"
  >
    <div class="md:pr-8">
      <h1 class="mb-4 font-medium text-3xl text-center md:text-left">
        About Me
      </h1>
      <p class="mb-8 md:mb-0 leading-relaxed text-center md:text-left">
        I'm a Melbourne-based software developer who has experience in process
        automation and full-stack development.<br />Currently, I'm a Software
        Engineer at JET Charge, focused on backend development.
      </p>
    </div>
    <div class="max-w-[300px]">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="/images/profile.jpg"
      />
    </div>
  </div>
</section>
