---
export type Link = {
  text: string;
  url: string;
};

type Props = {
  links: Array<Link>;
};

const { links } = Astro.props;
---

<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24"
        ><polyline points="4 17 10 11 4 5"></polyline><line
          x1="12"
          y1="19"
          x2="20"
          y2="19"></line></svg
      >
      <span class="ml-3 text-xl">Huy Nguyen</span>
    </a>
    <nav
      class="w-full md:w-fit flex flex-wrap items-center text-base justify-center gap-6"
    >
      {
        links.map((link: Link) => (
          <>
            <a
              class="hover:text-gray-900 cursor-pointer"
              href={link.url}
              target="_blank"
            >
              {link.text}
            </a>
          </>
        ))
      }
    </nav>
  </div>
</header>
