<section>
  <div class="px-5 mx-auto h-[calc(100vh-80px)] container flex flex-col justify-center items-center md:items-start text-gray-900 font-light">
    <div class="px-0 md:px-10 w-90 md:w-1/2">
      <h1 class="mb-4 text-4xl md:text-5xl">
        Hello, I'm <span class="font-bold">Huy</span><span>.</span>
      </h1>
      <p class="mb-8 text-lg md:text-xl leading-relaxed">
        I'm a curious individual and an avid learner with professional
        developer experience. I thrive on tackling interesting and difficult
        challenges.
      </p>
    </div>
  </div>
</section>
