@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background-color: #f5f2eb;
  --primary-color: #1c1917;
  --secondary-color: #57534e;
  --tertiary-color: #d6cebe;
}

@theme {
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
}

@utility prose {
  & > * {
    --tw-prose-bullets: var(--color-secondary);
  }
}

body {
  background-color: var(--color-background);
}
