@import "tailwindcss";

:root {
  --background-color: #f3f0e8;
  --primary-color: #5e5e5e;
  --secondary-color: #606c5a;
  --tertiary-color: #d5caba;
}

@theme {
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
}

body {
  background-color: var(--color-background);
}
